.btn-theme{
    background-color: #f6942c;
    color: #fff;
    font-weight: 500;
}
.btn-theme:hover{
    color: #fff;
}
.service{
    transition: .5s ease-in-out;
}
.service:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}